@import "/src/sass/variables";

Form Button {
  width: 100%;
}

h2, h3 {
  color: $main-font-color;
}

hr.line {
  border: 1px solid $main-font-color;
  width: 100%;
}

.app {
  margin: auto;
  max-width: 1200px;
  padding-top: 40px;
  text-align: center;
}

.leave-room {
  text-align: right;
  margin-bottom: 4px;
}

.from-user {
  font-size: small;
  margin-bottom: 3px;
  margin-right: 5px;
}

.custom-default-btn{
  background-color: $button-color;
  border-radius: 4px;
  padding: 5px;
  color: $main-font-color;
  border: none;
}

.custom-default-btn:disabled{
  background-color: $button-color-disabled;
  font: $third-font-color;
}

@media (max-width: $breakpoint-xl) {
  .app{  
      padding: 20px;
  }
}