@font-face {
  font-family: "Sequel";
  src: local("Sequel100Black-75"),
   url("./fonts/Sequel100Black-75.ttf") format("truetype");
  }
body {
  margin: 0;
  font-family: 'Sequel' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



