.errorContainer {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    z-index:9999;
  }

.errorMessage{
    position: absolute;
    top: 50%;
    width: 100%;
    margin: auto;
}
