@import "/src/sass/variables";

.chatBox{
    background-color: $card-color;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: scroll;
    border-radius: $card-border-radious;
}

.trackY{
    background: white !important;
}



