.message-container{
    display: flex;
}
.user-message-container{
    justify-content: flex-end;
}
.message{
    display: flex;
    flex-direction: column;
}

.message-text{
    padding: 10px;
    border-radius: 15px;
    background-color: aliceblue;
}

.user-message-text{
    background-color: rgb(0, 132, 255);
    color: white;
    margin-bottom: 2px;
}

.bot-message-text{
    background-color: black;
    color: white;
}

.from-user{
    text-align: left;
    padding-left: 10px;
}
