@import "/src/sass/variables";

.message-container{
    display: flex;
}
.user-message-container{
    justify-content: flex-end;
}
.message{
    display: flex;
    text-align: left;
    flex-direction: column;
    max-width: 40%;
    overflow-wrap: break-word;
}

.message-text{
    color: $main-font-color;
    padding: 10px;
    border-radius: 15px;
    background-color: $other-user-message;
}

.user-message-text{
    background-color: $user-message;
    margin-bottom: 2px;
}

.bot-message-text{
    background-color: black;
}

.from-user{
    color: $main-font-color;
    text-align: left;
    padding-left: 10px;
}
