$main-background: #100D09;
$card-color: #19160B;
$card-border-radious: 10px;
$button-color:#F8C900;
$button-color-disabled: #B29D49;
$active-button-color: black;
$disabled-button-color: white;
$main-font-color: white;
$header-font-color:#FDF5D3;
$second-font-color: #B29D49;
$other-user-message:#1D1A18;
$user-message: #B29D49;
$breakpoint-tablet: 768px;
$breakpoint-xl: 1200px;



